:root { --theme-color: #3b82f6; --theme-glow: rgba(59, 130, 246, 0.5); }
.theme-blue { --theme-color: #3b82f6; --theme-glow: rgba(59, 130, 246, 0.5); }
.theme-green { --theme-color: #10b981; --theme-glow: rgba(16, 185, 129, 0.5); }
.theme-purple { --theme-color: #a855f7; --theme-glow: rgba(168, 85, 247, 0.5); }

.text-theme { color: var(--theme-color); }
.bg-theme { background-color: var(--theme-color); }
.border-theme { border-color: var(--theme-color); }
.border-theme-soft { border-color: rgba(255, 255, 255, 0.05); }
.shadow-theme { box-shadow: 0 0 15px var(--theme-glow); }
.shadow-theme-sm { box-shadow: 0 0 30px rgba(0,0,0,0.5), 0 0 10px var(--theme-glow); }
.neon-text { text-shadow: 0 0 10px var(--theme-glow); }

body { font-family: 'Cairo', sans-serif; background-color: #030712; }
.font-poppins { font-family: 'Poppins', sans-serif; }

.nav-link { position: relative; transition: 0.3s; }
.nav-link:hover { color: var(--theme-color); }

.timer-box { 
    background: rgba(17, 24, 39, 0.8); 
    padding: 15px; min-width: 70px; 
    border-radius: 20px; 
    border: 1px solid var(--theme-color); 
}
.timer-box span { display: block; font-size: 1.8rem; font-weight: 800; color: var(--theme-color); }

.select-none { user-select: none; -webkit-user-select: none; }
